body {
  line-height: 1.5;
  background-color: lightgrey;
}

h1,
h2,
p {
  text-align: center;
}

div {
  background-color: white;
  text-align: center;
  padding: 2rem;
}

img {
  margin: auto;
  display: flex;
  padding: 1rem;
}

ul {
  margin-right: 43rem;
  margin-left: 43rem;
}
