body {
  line-height: 1.5;
  background-color: lightgrey;
}

h1,
h2,
p {
  text-align: center;
}

.tdiv {
  max-width: 100%;
  background-color: white;
  text-align: center;
  padding: 2rem;
}

img {
  display: flex;
  margin: auto;
  padding: 1rem;
}

ul {
  max-width: 35rem;
  margin: auto;
}
