body {
  line-height: 1.5;
  background-color: lightgrey;
}

h1,
h2,
p {
  text-align: center;
}

.tdiv {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 2rem;
}

img {
  max-width: 800px;
  width: 100%;
}

ul {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: rgb(10, 116, 236);
}
